{% extends "base.html"%}
{% block title%}Task Manager - Main page{% endblock title%}
{% block vsebina_strani %}
<h1>Seznam izbrisanih taskov</h1>

    {% for task in task%}

        <div class = "row">
            <div class="col-md-1">{{task.avtor}}</div>
            <div class="col-md-2">{{task.sporocilo}}</div>
            <div class="col-md-2">{{task.cas_nastanka}}</div>
            <div class="col-md-1">{% if task.dokoncan %} OPRAVLJENO {%else%}NEOPRAVLJENO{%endif%}</div>
            <div class="col-md-1">{{task.je_izbrisan}}</div>
            <div class="col-md-1"><a href="/seznam/{{task.key.id()}}"><button class="btn btn-default">Ogled/Uredi</button></a></div>
            <div class="col-md-1"><a href="/izbrisano/{{task.key.id()}}/obnovi"><button class="btn btn-info">Obnovi</button></a></div>
            <div class="col-md-1"><a href="/izbrisano/{{task.key.id()}}/izbrisi"><button class="btn btn-danger">IZBRISI</button></a></div>

        </div>

    {% endfor%}

{% endblock vsebina_strani %}